<h3><%= "Customers of product #{@product.name} (#: #{@product.product_number})" %></h3>
<% if @customers.empty? %>
  <p><strong>No customers bought this product yet.</strong></p>
<% else %>
  <%= render partial: 'products/partials/customer', collection: @customers %>
<% end %>