<div class="customer-row row">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= "Customer ##{customer.customer_number}" %></h5>
      <p class="card-text"><%= customer.internal_note %></p>
    </div>
  </div>
</div>