<h3 class="d-inline-block"><%= "#{@title_prefix} Orders" %></h3>

<% if @orders.empty? %>
  <p><strong>There are no orders for the products.</strong></p>
<% else %>
  <%= render partial: 'products/partials/order', collection: @orders %>
<% end %>