<div class="row">
  <div class="col-2">
    <div class="card">
      <div class="card-body">
        <div class="card-title"><h5 class="h4"><%= 'Currency' %></h5></div>
        <div class="card-text"><%= sale.currency %></div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title"><h5 class="h4"><%= 'Gross Revenue' %></h5></div>
        <div class="card-text"><%= number_to_currency(sale.total_gross_revenue, unit: '') %></div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title"><h5 class="h4"><%= 'Net Revenue' %></h5></div>
        <div class="card-text"><%= number_to_currency(sale.total_net_revenue, unit: '') %></div>
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="card">
      <div class="card-body">
        <div class="card-title"><h5 class="h4"><%= 'Units sold' %></h5></div>
        <div class="card-text"><%= sale.units_sold %></div>
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="card">
      <div class="card-body">
        <div class="card-title"><h5 class="h4"><%= '# Order' %></h5></div>
        <div class="card-text"><%= sale.total_orders %></div>
      </div>
    </div>
  </div>
</div>