<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login-form') do |f| %>

  <h1 class="h3 mb-3">Sign In</h1>

  <%= f.label :email, class: 'sr-only' %>
  <%= f.email_field :email,
                    autofocus: true,
                    autocomplete: "email",
                    class: 'form-control es-email-input',
                    placeholder: 'Email address' %>

  <%= f.label :password, class: 'sr-only' %>
  <%= f.password_field :password,
                       autocomplete: "off",
                       noautocomplete: 'true',
                       class: 'form-control es-pwd-input',
                       placeholder: 'Password' %>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox mb-3">
      <label for="user_remember_me">
        <%= f.check_box :remember_me %>
        Remember me
      </label>
    </div>
  <% end -%>

  <%= f.submit t('application.auth.login'), class: 'btn btn-info' %>
<% end %>
