
.new_user {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;

  .es-email-input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .es-pwd-input {
    margin-bottom: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}