
.product-list {
  .product-row {
    .es-product-image {
      padding-left: 0;
      img {
        min-width: 250px;
      }
    }
  }
}

.es-back-link {
  a {
    color: #444444;
    text-decoration: underline;
  }
}

.es-product-show {
  &__image {
    padding-left: 0 !important;

    img {
      min-width: 100%;
    }
  }
}
