<% total_pages = (total/per_page.to_f).ceil %>

<div class="pagination d-inline-block">
  <p><%= "Showing page #{page} of #{total_pages}" %></p>
  <p><%= link_to 'Click here to next page', products_path(page: page + 1) %></p>
</div>