<div class="product-row row mb-2">
  <div class="card col-12">
    <div class="row">
      <div class="col-3 es-product-image">
        <%= image_tag(product.images.first.url) %>
      </div>
      <div class="col-8 es-product-content">
        <div class="card-block px-3">
          <h4 class="card-title"><%= product.name %></h4>
          <p class="card-text">
            <%= truncate(strip_tags(product.short_description), length: 180) %>
          </p>
          <%= link_to 'See more', { controller: :products, action: :show, id: product.id } %>
        </div>
      </div>
    </div>
  </div>
</div>