<h1 class="mt-3">Store Products</h1>

<div class="product-list">
  <%= render partial: 'product', collection: @products.items %>
</div>

<%= render partial: 'pagination', locals: {
    page: @products.page,
    total: @products.results,
    per_page: @products.results_per_page
} %>
