<div class="row mb-3">
  <div class="mr-auto es-back-link">
    <%= link_to '<< All Products (go back)', products_path %>
  </div>
</div>

<div class="row es-product-show">
  <div class="col-4 es-product-show__image">
    <%= image_tag(@product.images[0].url, class: 'img-fluid img-thumbnail') %>
  </div>
  <div class="col-8 es-product-show__details">
    <h1 class="h2 mt-1"><%= @product.name %></h1>
    <p><h4 class="font-weight-bold"><%= @product.price_info.price.formatted %></h4></p>
    <hr class="es-product-show__sep">
    <p class="es-product-show__description">
      <%= raw(@product.short_description) %>
    </p>
  </div>
</div>

<% options = [
    ['', ''],
    ['Sale Volume', 'sales'],
    ['Buyers', 'customers'],
    ['Placed Orders', 'orders'],
    ['Not Placed Orders', 'orders_unplaced']
] %>
<h2 class="mt-3">Analytics</h2>
<div class="row es-product-analytics mt-3">
  <%= form_tag('/#') do %>
    <div class="form-group">
      <%= label_tag(:attribute, 'Analytics Attribute') %>
      <%= select_tag(:attribute,
                     options_for_select(options),
                     id: 'product-analytic-select',
                     class: 'form-control',
                     'data-id': @product.id) %>
    </div>
  <% end %>
</div>

<div class="analytics-value">
</div>