<!DOCTYPE html>
<html>
  <head>
    <title>eShops Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light es-navbar">
      <a class="navbar-brand" href="#">eShops Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <% if user_signed_in? %>
          <ul class="navbar-nav mr-md-auto">
            <li class="nav-item">
              <%= link_to 'Products', root_path, class: 'nav-link' %>
            </li>
          </ul>
        <% end %>
        <% if user_signed_in? %>
            <%= link_to(t('application.auth.logout'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger') %>
        <% else %>
            <%= link_to(t('application.auth.login'), new_user_session_path, class: 'btn btn-outline-success ml-auto') %>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) + ' mt-3' %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
